:root {
  --clr-primary-500: hsl(179, 62%, 43%);
  --clr-primary-700: hsla(179, 60%, 40%);
  --clr-primary-300: hsl(71, 73%, 54%);
  --clr-neutral-200: hsl(204, 43%, 93%);
  --clr-neutral-400: hsl(218, 22%, 67%);

  --ff-base: "Karla", sans-serif;

  --fw-regular: 400;
  --fw-bold: 700;
}

/* Intuitive box-sizing model */
*,
*::after,
*::before {
  box-sizing: border-box;
}

/* Remove default margins */
* {
  margin: 0;
}

/* Responsive images */
img,
picture,
svg,
video {
  max-width: 100%;
  display: block;
}

/* Avoid text overflow */
p,h1,h2,h3,h4,h5,h6 {
    overflow-wrap: break-word;
}

/* Remove built-in form typography styles */
a, input, button, textarea, select {
    font: inherit;
  }

/* Small line-height size for larger text */
h1,h2{
    line-height: 1.1;
}

/* General styling */
body {
    background-color: var(--clr-neutral-200);
    color: var(--clr-neutral-200);
    font-family: var(--ff-base);
    font-weight: var(--fw-regular);
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;

    min-height: 100svh;
    padding: 1.5rem;
    display: grid;
    place-content: center;
}

/* Grid Card styling */
.card{
    --content-spacing: 1rem;
    --content-padding: 1.8rem 1.5rem;
    --fs-title: 1.1rem;

    border-radius: .5rem;
    overflow: hidden;
    box-shadow: 0.3rem 0.3rem 0.5rem rgba(0, 0, 0, 0.2);

    display: grid;
}

.card__intro {
    --fs-intro-title: 1.25rem;
    --fs-intro-subtitle: .95rem;

  background-color: white;
  padding: 1.5rem 1rem;
}

.intro__title {
    font-size: var(--fs-intro-title);
    color: var(--clr-primary-500);
}

.intro__subtitle {
    color: var(--clr-primary-300);
    font-size: var(--fs-intro-subtitle);
}

.intro__description{
    color: var(--clr-neutral-400);
    font-size: .9rem;
    line-height: 1.7;
}

.card__subscription {
    --fs-price: 2rem;

  background-color: var(--clr-primary-700);
}

.subscription__title{
    font-size: var(--fs-title);
    margin-bottom: 1rem;
}

.price__value{
    line-height: .5;
    font-size: var(--fs-price);
    font-weight: var(--fw-bold);
}

.subscription__type{
    opacity: .4;
    line-height: .5;
}

.subscription__details{
    line-height: 1;
    margin-bottom: 1rem;
}

.btn {
    display: block;
    text-align: center;
  background-color: var(--clr-primary-300);
  padding: 0.7rem 1.5rem;
  border: none;
  border-radius: 0.3rem;
  box-shadow: 0.3rem 0.3rem 0.3rem rgba(0, 0, 0, 0.2);
  font-weight: 700;
}

.card__reason {
  background-color: var(--clr-primary-500);
}

.reason__title{
    font-size: var(--fs-title);
}

.reason__list{
    list-style: none;
    padding: 0;
}

.reason__item{
    opacity: .8;
    font-size: .9rem;
}

/* Utility classes */
.has-grid{
    display: grid;
    gap: var(--content-spacing);
}

.has-flex{
    --flex-spacing: .8rem;

    display: flex;
    gap: var(--flex-spacing);
    align-items: center;
}

.card--padding{
    padding: var(--content-padding);
}

@media (min-width: 50em) {
    .card{
        grid-template-columns: 1fr 1fr;
    }
}
